<div class="container main-container">

    <h1>Lista de Produtos</h1>
    <button type="button" class="btn btn-primary" [routerLink]="['/produto/new']" >Novo</button>
    <hr>
    

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Desc. Produto
                </th>
                <th>
                    Quantidade Atual
                </th>
                <th></th>
                <th></th>
                
            </tr>
        </thead>
        <tbody *ngFor="let prod of produtos">
            <td>
                {{ prod.cod }} 
            </td>

            <td>
               {{ prod.nome }}
            </td>

            <td>
                {{ prod.descProd }}
            </td>

            <td>
                {{ prod.qtdAtual }}
            </td>

            <td>
            <button type="button" class="btn btn-primary" [routerLink]="['/produto/detalhe',prod.id]" >Detalhes</button>
            <button type="button" class="btn btn-info" [routerLink]="['/produto/editar',prod.id]">Atualizar Quantidade</button>
            <button type="button" class="btn btn-danger" [routerLink]="['/produto/deletar',prod.id]">Deletar</button></td>
        </tbody>
    </table>
</div>
