<div class="container main-container">

    <h1>Lista de Produtos</h1>
    <button type="button" class="btn btn-primary" [routerLink]="['/produto/new']" >Novo</button>
    <hr>
    

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Códigos
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Desc. Produto
                </th>
                <th>
                    Quantidade Atual
                </th>
                <th></th>
                <th></th>
                
            </tr>
        </thead>
        <tbody *ngFor="let prod of produtos">
            <td>
                {{ prod.cod }} 
            </td>

            <td>
               {{ prod.nome }}
            </td>

            <td>
                {{ prod.descProd }}
            </td>

            <td>
                {{ prod.qtdAtual }}
            </td>

            <td>
            <button type="button" class="btn btn-primary" [routerLink]="['/produto/detalhe',prod.id]" >Detalhes</button>
            <button type="button" class="btn btn-info">Editar Produto</button>
            <button type="button" class="btn btn-danger">Deletar</button></td>
        </tbody>
    </table>
</div>

<!-- <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Detalhes item:</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <ul *ngFor="let prod of produto">
            <li>{{prod.nome}}</li>
            <li>A second item</li>
            <li>A third item</li>
            <li>A fourth item</li>
            <li>And a fifth one</li>
          </ul>
    </div>
  </ng-template> -->